@at-root
중첩에서 벗어나고 싶을 때 @at-root 키워드를 사용
중첩 안에서 생성하되 중첩 밖에서 사용해야 경우에 유용

SCSS:

SCSS
.list {
  $w: 100px;
  $h: 50px;
  li {
    width: $w;
    height: $h;
  }
  @at-root .box {
    width: $w;
    height: $h;
  }
}
Compiled to:

.list li {
  width: 100px;
  height: 50px;
}
.box {
  width: 100px;
  height: 50px;
}